body {
    margin:auto;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 0px 10px;
    gap: 310px;
}

.logo {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 600;
    align-self: center;
}

ul {
    display: flex;
    gap: 15px;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

li {
    list-style-type: none;
    }
  
  li a {
    text-decoration:none;
    color: grey;
  }

  button a {
    text-decoration:none;
    color: white;
  }
  
.marin {
    width: 384px;
    height: auto;
}

.marin1 {
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 11px;
}

.image1{
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.imagerow {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
}


.intro {
    display: flex;
    background-color: #1F2937;
    gap: 30px;
    justify-content: center;
    padding: 70px 0px;
}

.introleft {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    width: 384px;
}

.introtitle {
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 32px;
        font-weight: 900;
}

.infotitle{
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.image1subtext {
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
}

.introtext {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
}

.button {
    color: white;
    background-color: rgb(0, 132, 255);
    padding: 5px 20px;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

.quote {
    background-color: #E5E7EB ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotetext {
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    width: 700px;
    padding-top: 70px;
}

.quoteauthor {
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 700px;
    text-align: end;
    padding-bottom: 70px;
}

.spacecall {
    margin: 40px;
}


.call {
    display: flex;
    background-color: #3882F6 ;
    width: 820px;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    margin: auto;
}

.calltexttop {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.calltextbottom {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.callright {
    color: white;
    background-color: rgb(0, 132, 255);
    padding: 5px 20px;
    border: solid white;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

.footer {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #1F2937;
    padding: 20px;
}